[core]
	editor = nvim
	autocrlf = false
	eol = lf
	safecrlf = true
	fsmonitor = true
[alias]
	diffc = diff --stat -w
	showc = show --stat -w
	difft = difftool
	showt = "!f() { GIT_EXTERNAL_DIFF=difft git show --ext-diff $@; }; f"
	cam = commit -a -m
	conflicts = diff --name-only --diff-filter=U --relative
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[i18n]
	filesEncoding = utf-8
[user]
	name = Jack Duvall
	email = 10897431+duvallj@users.noreply.github.com
[fetch]
	prune = false
	showForcedUpdates = true
[rebase]
	autoStash = true
	autoSquash = true
	forkPoint = false
[merge]
	ff = true
	conflictStyle = diff3
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[credential]
	helper = store
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[safe]
	directory = *
