[core]
	editor = nvim
	autocrlf = true
	eol = lf
	safecrlf = false
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
