[core]
	editor = nvim
	autocrlf = true
	eol = lf
	safecrlf = false
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[i18n]
	filesEncoding = utf-8
[user]
	name = Jack Duvall
	email = 10897431+duvallj@users.noreply.github.com
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = D:/Program Files/KDiff3/bin/kdiff3.exe
	cmd = \"D:/Program Files/KDiff3/bin/kdiff3.exe\" \"$LOCAL\" \"$REMOTE\"
[merge]
	guitool = kdiff3
[mergetool "kdiff3"]
	path = D:/Program Files/KDiff3/bin/kdiff3.exe
	cmd = \"D:/Program Files/KDiff3/bin/kdiff3.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
[fetch]
	prune = false
[rebase]
	autoStash = true
