[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/me/Desktop/ksnip.desktop]
row=8
col=0

[/home/me/Desktop/LibreOffice Calc.desktop]
row=7
col=0

[/home/me/Desktop/Discord.desktop]
row=6
col=0

[/home/me/Desktop/Texmaker.desktop]
row=0
col=1

[1AD8CD00D8CCDAE1]
row=2
col=0

[A8985A91985A5E3E]
row=3
col=0

[e8325a41-20a4-4212-8548-b7a12a666d78]
row=0
col=0

[88CB-3E0E]
row=1
col=0

[/]
row=4
col=0

[/home/me]
row=5
col=0

