[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/me/Desktop/Chromium.desktop]
row=7
col=0

[/home/me/Desktop/Thunderbird.desktop]
row=1
col=1

[/home/me/Desktop/Google Chrome.desktop]
row=2
col=4

[/home/me/Desktop/ksnip.desktop]
row=1
col=2

[/home/me/Desktop/Firefox.desktop]
row=0
col=1

[/home/me/Desktop/chrome-obbmkcinjjhopbhodfhlampibkjakmhf-Default.desktop]
row=0
col=2

[/home/me/Desktop/Slack.desktop]
row=2
col=1

[/home/me/Desktop/kitty.desktop]
row=1
col=3

[/home/me/Desktop/VLC media player.desktop]
row=2
col=3

[/home/me/Desktop/TeXstudio.desktop]
row=0
col=4

[/home/me/Desktop/LibreOffice Calc.desktop]
row=0
col=3

[/home/me/Desktop/Discord.desktop]
row=2
col=2

[/home/me/Desktop/Oracle VM VirtualBox.desktop]
row=1
col=4

[Trash]
row=2
col=0

[/]
row=1
col=0

[/home/me]
row=0
col=0

